html body .container{
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  background-color: black;
}

#fireimg {
  width: 20vw;
  margin:auto;
  opacity: 1;
}

#fuel {
  color: white;
}

#chopMiniGame {
  display: none;
}

#food {
  display: none;
  margin-top: -15vh;
  margin-right: 5vw;
  float:right;
  width: 10vw;
  height: 15vh;
  background-image: url('./../assets/images/ham.jpg');
  background-size: cover;
  background-position: center;
}
