html body .container{
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  background-color: black;
}

#fireimg {
  width: 20vw;
  margin:auto;
  opacity: 1;
}

#fuel {
  color: white;
}

#chopMiniGame {
  display: none;
}
